/* h1的RGB閃爍功能 */
h1 {
    animation: h1-rgb 500ms linear infinite;
}
@keyframes h1-rgb{
    0%{
        color:red;
    }
    33%{
        color: green;
    }
    66%{
        color: blue;
    }
    100%{
        color: red;
    }
}

hr {
    border: 0;
    height: 5px;
    animation: rainbow 1s linear infinite;
    /* background: #0a98df; */
    /* background-image: linear-gradient(to right, #eb1212, #5017e1, #1ee6d8); */
}
/* 背景RGB */
@keyframes rainbow{
    0%{
        background-color: red;
    }
    33%{
        background-color: green;
    }
    66%{
        background-color: blue;
    }
    100%{
        background-color: red;
    }
}

.center{
    text-align: center;
    font-size: 70px;
    animation: rainbow 1s linear infinite;
    animation: text-rgb 500ms linear infinite;
}
/* MENU文字RGB無限閃爍 */
@keyframes text-rgb{
    0%{
        color:red;
    }
    33%{
        color: green;
    }
    66%{
        color: blue;
    }
    100%{
        color: red;
    }
}



/* 將菜單列表設置為彈性容器 */
.menu-list{
    display: flex;
    justify-content: center; /*水平置中對齊*/
    align-items: center; /*垂直置中對齊*/
}

/* 設定菜單列表內部的ul元素為彈性容器 */
.menu-list ul {
    display: flex;
    align-items: flex-start; /*垂直頂部對齊*/
    flex-direction: column; /*將菜單項目垂直排列*/
}
/* 取消菜單項目的邊距 */
.menu-list li {
    margin: 0px;
    font-size: 30px;
}

@keyframes hbd {
    
}



